Parent Name: Giant Leech
Name: Blood Drain
Nombre: Drenar sangre
Estado: auto-trad

------ Description (en) ------
<p><strong>Requirements</strong> The giant leech has a creature @UUID[Compendium.pf2e.conditionitems.kWc1fhmv9LBiTuei]{Grabbed} or @UUID[Compendium.pf2e.conditionitems.VcDeM8A5oI6VqhbM]{Restrained}</p>
<hr />
<p><strong>Effect</strong> The giant leech drains blood from the creature it has grabbed. This deals [[/r 2d4]] damage. A creature that has its blood drained by a giant leech is @UUID[Compendium.pf2e.conditionitems.4D2KBtexWXa6oUMR]{Drained 1} until it receives any kind or amount of healing.</p>
------ Description (es) ------
<p><strong>Requisitos</strong> La sanguijuela gigante tiene una criatura @UUID[Compendium.pf2e.conditionitems.kWc1fhmv9LBiTuei]{Agarrada} o @UUID[Compendium.pf2e.conditionitems.VcDeM8A5oI6VqhbM]{{Restringida}</p>
<hr />
<p><strong>Efecto</strong> La sanguijuela gigante drena sangre de la criatura que ha agarrado. Esto inflige [[/r 2d4]] de daño. Una criatura a la que una sanguijuela gigante le drena la sangre queda @UUID[Compendium.pf2e.conditionitems.4D2KBtexWXa6oUMR]{Drenada 1}## hasta que reciba cualquier tipo o cantidad de curación.</p> <p><strong>Efecto</strong>.
