Name: Anointing Oil
Nombre: Anointing Oil
Estado: auto-trad

------ Description (en) ------
<p>Carried by many Knights of Lastwall, this amber-colored, fragrant-smelling oil is meant to prevent those who fall in battle from rising as undead. Applying <em>anointing oil</em> to a corpse casts <em>@UUID[Compendium.pf2e.spells-srd.xRgU9rrhmGAgG4Rc]{Gentle Repose}</em> on it. The effects last for 24 hours.</p>
<p>The oil is repugnant to the undead. An undead creature that touches a corpse treated with this oil is @UUID[Compendium.pf2e.conditionitems.MIRkyAjyBeXivMa7]{Enfeebled 1} until the contact is broken or the oil's effect wears off.</p>
------ Description (es) ------
<p>Llevado por muchos Caballeros de Lastwall, este aceite de color ámbar y olor fragante está destinado a evitar que aquellos que caen en batalla resuciten como muertos vivientes. Al aplicar <em>aceite de unción</em> a un cadáver se lanza <em>@UUID[Compendium.pf2e.spells-srd.xRgU9rrhmGAgG4Rc]{Delicado Reposo}</em> sobre él. Los efectos duran 24 horas.</p> <p>
<p>El aceite repugna a los muertos vivientes. Una criatura no muerta que toque un cadáver tratado con este aceite queda @UUID[Compendium.pf2e.conditionitems.MIRkyAjyBeXivMa7]{{Enfeebled 1}### hasta que se rompa el contacto o desaparezca el efecto del aceite.</p> <p>
