Name: Metuak's Pendant
Nombre: Colgante de Metuak
Estado: auto-trad

------ Description (en) ------
<p>This black quartz pendant carved in the shape of an angel's feather hangs from a leather cord worn around the neck. Once worn by Metuak of the Burning Mammoths, this family heirloom anchors you to your ancestors, preserving your sense of self and protecting your mind from mental manipulation and demonic possession. You gain a +1 item bonus to saving throws against mental effects that would make you @UUID[Compendium.pf2e.conditionitems.yblD8fOR1J8rDwEQ]{Confused}, @UUID[Compendium.pf2e.conditionitems.9qGBRpbX9NEwtAAr]{Controlled}, @UUID[Compendium.pf2e.conditionitems.TBSHQspnbcqxsmjL]{Frightened}, or @UUID[Compendium.pf2e.conditionitems.e1XGnhKNSQIm5IXg]{Stupefied}. This bonus increases to +2 if the source of the effect is a fiend.</p>
<hr />
<p><strong>Activate</strong> <span class="pf2-icon">r</span></p>
<p><strong>Frequency</strong> once per hour</p>
<p><strong>Trigger</strong> You succeed or critically succeed at a saving throw against a mental effect that would make you confused, controlled, frightened, or stupefied</p>
<hr />
<p><strong>Effect</strong> Empowered by your determination, your ancestors protect you and your nearby allies. For 1 minute, you and each of your allies within 30 feet gains a +1 status bonus to saving throws against mental effects that would make you confused, controlled, frightened, or stupefied.</p>
<p>@UUID[Compendium.pf2e.equipment-effects.tGeMT4iHJcsjVbl3]{Effect: Metuak's Pendant}</p>
------ Description (es) ------
<p>Este colgante de cuarzo negro tallado en forma de pluma de ángel cuelga de un cordón de cuero que se lleva alrededor del cuello. Una vez llevado por Metuak de los Mamuts Ardientes, esta reliquia familiar te ancla a tus ancestros, preservando tu sentido del yo y protegiendo tu mente de la manipulación mental y la posesión demoniaca. Obtienes un bonificador +1 de objeto a las tiradas de salvación contra efectos mentales que te harían @UUID[Compendium.pf2e.conditionitems.yblD8fOR1J8rDwEQ]{Confused}#, @UUID[Compendium.pf2e.conditionitems.9qGBRpbX9NEwtAAr]{Controlado}, @UUID[Compendium.pf2e.conditionitems.TBSHQspnbcqxsmjL]{Endurecido}, o @UUID[Compendium.pf2e.conditionitems.e1XGnhKNSQIm5IXg]{{Estupefacto}. Esta bonificación aumenta a +2 si la fuente del efecto es un demonio.</p> <p>
<hr />
<p><strong>Activar</strong> <span class="pf2-icon">r</span></p>
<p><strong>Frecuencia</strong> una vez por hora</p>
<p><strong>Desencadenante</strong> Tienes éxito o éxito crítico en una tirada de salvación contra un efecto mental que te haría sentir confusión, controlado/a, asustado/a o anonadado/a</p>
<hr />
<p><strong>Efecto</strong> Potenciados por tu Determinación, tus ancestros te protegen a ti y a tus aliados cercanos. Durante 1 minuto, tú y cada uno de tus aliados en un radio de 30 pies ganáis un bonificador +1 de situación a las tiradas de salvación contra efectos mentales que os harían sentir confusión, controlados/as, asustados/as o anonadados/as.</p> <p><strong>Efecto</strong>.
<p>@UUID[Compendium.pf2e.equipment-effects.tGeMT4iHJcsjVbl3]{Effect: Colgante de Metuak}</p>
