Parent Name: War Sauropelta
Name: Dogged Persistence
Nombre: Dogged Persistence
Estado: auto-trad

------ Description (en) ------
<p><strong>Frequency</strong> once per minute</p>
<p><strong>Trigger</strong> The war sauropelta would be affected by the @UUID[Compendium.pf2e.conditionitems.eIcWbB5o3pP6OIMe]{Immobilized}, @UUID[Compendium.pf2e.conditionitems.6uEgoh53GbXuHpTF]{Paralyzed}, @UUID[Compendium.pf2e.conditionitems.xYTAsEpcJE1Ccni3]{Slowed}, or @UUID[Compendium.pf2e.conditionitems.dfCMdR4wnpbYNTix]{Stunned} conditions, or by an effect that would give it a penalty to its Speeds, from a source of 14th level or less</p>
<hr />
<p><strong>Effect</strong> The war sauropelta negates the triggering condition or effect.</p>
------ Description (es) ------
<p><strong>Frecuencia</strong> una vez por minuto</p>
<p><strong>Desencadenante</strong> El sauropelta de guerra se vería afectado por el @UUID[Compendium.pf2e.conditionitems.eIcWbB5o3pP6OIMe]{Inmovilizado}, @UUID[Compendium.pf2e.conditionitems.6uEgoh53GbXuHpTF]{{Paralizado}, @UUID[Compendium.pf2e.conditionitems.xYTAsEpcJE1Ccni3]{Slowed}, o @UUID[Compendium.pf2e.conditionitems.dfCMdR4wnpbYNTix]{Stunned}# estados negativos, o por un efecto que le daría una penalización a su Velocidad, de una fuente de nivel 14 o inferior</p>
<hr />
<p><strong>Efecto</strong> El sauropelta de guerra niega el estado negativo (normalmente se abrevia a estado) desencadenante.
