Parent Name: Seething Spirit
Name: Furious Possession
Nombre: Posesión Furiosa
Estado: auto-trad

------ Description (en) ------
<p>The seething spirit attempts to possess an adjacent corporeal creature. This has the same effect as a <em>@UUID[Compendium.pf2e.spells-srd.wU6hNzK8Yfqdmc8m]{Possession}</em> spell (@Check[type:will|dc:30|traits:incapacitation,mental,possession,necromancy,magical]), except since the spirit doesn't have a physical body, they're not @UUID[Compendium.pf2e.conditionitems.fBnFDH2MTzgFijKf]{Unconscious} and @UUID[Compendium.pf2e.conditionitems.6uEgoh53GbXuHpTF]{Paralyzed} when the effect ends. The spirit can't Dismiss the possession.</p>
<p>The creature gains [[/r 12 #Temporary Hit Points]]{12 temporary Hit Points} that are lost when the possession ends. During the possession, the creature has the pulse of rage aura. Each time the possessed creature makes a melee Strike, the spirit can substitute their ephemeral claw attack modifier, damage amount, or both in place of the creature's own statistics.</p>
<p>@UUID[Compendium.pf2e.bestiary-effects.KpRRcLsAiIhJFE03]{Effect: Furious Possession}</p>
------ Description (es) ------
<p>El espíritu furioso hace posesión de una criatura corpórea adyacente. Esto tiene el mismo efecto que un hechizo de <em>@UUID[Compendium.pf2e.spells-srd.wU6hNzK8Yfqdmc8m]{Posesión}</em> (@Check[type:will|dc:30|traits:incapacitation,mental,possession,necromancy,magical]), excepto que como el espíritu no tiene cuerpo físico, no está @UUID[Compendium.pf2e.conditionitems.fBnFDH2MTzgFijKf]{Unconscious}# y @UUID[Compendium.pf2e.conditionitems.6uEgoh53GbXuHpTF]{{Paralyzed}## cuando termina el efecto. El espíritu no puede Renunciar a la posesión.</p> <p>
<p>La criatura gana [[/r 12 #Puntos de Golpe Temporales]]{12 Puntos de Golpe temporales} que se pierden cuando termina la posesión. Durante la posesión, la criatura tiene el aura Pulso de furia. Cada vez que la criatura poseída realiza un Golpe cuerpo a cuerpo, el espíritu puede sustituir su modificador de ataque de garra efímera, la cantidad de daño o ambos en lugar de las estadísticas propias de la criatura.</p> <p>
<p>@UUID[Compendium.pf2e.bestiary-effects.KpRRcLsAiIhJFE03]{Effect: Posesión furiosa}</p>
