Name: Wandering Heart
Nombre: Corazón Errante
PrereqEN: arctic elf, cavern elf, desert elf, woodland elf, or any other elf heritage based on adapting to an environment
PrereqES: elfo ártico, elfo de las cavernas, elfo del desierto, elfo silvano o cualquier otra herencia élfica basada en la adaptación a un entorno.
Estado: auto-trad

------ Description (en) ------
<p>While all elves adapt to their environments over time, you have traveled so widely and become attuned to so many environs that your body now changes more rapidly than other elves. After spending a week in an environment associated with an elf heritage (such as snow for arctic elf, or a forest or jungle for woodland elf) your heritage automatically changes to become that heritage. This never causes you to change to an elf heritage that isn't related to an environment, such as @UUID[Compendium.pf2e.heritages.Nd9hdX8rdYyRozw8]{ancient elf}, @UUID[Compendium.pf2e.heritages.jEtVesbqYcWGbBYk]{Seer Elf}, or @UUID[Compendium.pf2e.heritages.1wVDYY9Wue0G5R9Q]{whisper elf}.</p>
------ Description (es) ------
<p>Aunque todos los elfos se adaptan a su entorno con el tiempo, tú has viajado tanto y te has sintonizado con tantos ambientes que tu cuerpo ahora cambia más rápidamente que el de otros elfos. Después de pasar una semana en un entorno asociado con una herencia élfica (como la nieve para elfo ártico, o un bosque o selva para elfo silvano) tu herencia cambia automáticamente para convertirse en esa herencia. Esto nunca hace que cambies a una herencia élfica que no esté relacionada con un entorno, como @UUID[Compendium.pf2e.heritages.Nd9hdX8rdYyRozw8]{ancient elf}, @UUID[Compendium.pf2e.heritages.jEtVesbqYcWGbBYk]{{Seer Elf}, o @UUID[Compendium.pf2e.heritages.1wVDYY9Wue0G5R9Q]{{whisper elf}#.</p> <p>
