Name: Enshroud Soul Cage
Nombre: Enjaular Alma Enshroud
PrereqEN: Lich Dedication
PrereqES: Dedicación Lich
Estado: auto-trad

------ Description (en) ------
<p>You wreathe your soul cage in an ever-growing collection of obfuscating illusions and protective abjurations to hide it from your enemies. You disguise the soul cage as any non-magical object of the same Bulk, and it gains the effects of the <em>@UUID[Compendium.pf2e.spells-srd.PRrZ7anETWPm90YY]{Magic Aura}</em> and <em>@UUID[Compendium.pf2e.spells-srd.EoKBlgf6Smt8opaU]{Nondetection}</em> spells. The effects have unlimited durations, are heightened to half your level rounded up, and use your spell DC against any attempt to counteract them. The magic aura makes your soul cage appear non-magical. You can ignore the effects of any of these spells when dealing with your own soul cage. You are mentally alerted whenever your soul cage is damaged.</p>
------ Description (es) ------
<p>Envuelves tu jaula de almas en una colección cada vez mayor de ilusión ofuscadoras y abjuraciones protectoras para ocultarla de tus enemigos. Disfrazas la jaula de almas como cualquier objeto no mágico del mismo Granel, y obtiene los efectos de los hechizos <em>@UUID[Compendium.pf2e.spells-srd.PRrZ7anETWPm90YY]{Aura mágica}</em> y <em>@UUID[Compendium.pf2e.spells-srd.EoKBlgf6Smt8opaU]{{Netectabilidad}</em>. Los efectos tienen duraciones ilimitadas, se potencian a la mitad de tu nivel redondeado hacia arriba, y usan tu DC de conjuros contra cualquier intento de contrarrestarlos. El aura mágica hace que tu jaula de almas parezca no mágica. Puedes ignorar los efectos de cualquiera de estos conjuros cuando trates con tu propia jaula de almas. Recibes una alerta mental cada vez que tu jaula de almas resulta dañada.</p> <p><strong>Cuidado con la jaula de almas</strong>.
