Name: Felling Strike
Nombre: Golpe derribador
PrereqEN: 
PrereqES: 
Estado: auto-trad

------ Description (en) ------
<p>Your attack can ground an airborne foe.</p>
<p>Make a Strike. If it hits and deals damage to a flying target, the target falls up to 120 feet. The fall is gradual enough that if it causes the target to hit the ground, the target takes no damage from the fall.</p>
<p>If the attack is a critical hit, the target can't @UUID[Compendium.pf2e.actionspf2e.cS9nfDRGD83bNU1p]{Fly}, @UUID[Compendium.pf2e.actionspf2e.d5I6018Mci2SWokk]{Leap}, levitate, or otherwise leave the ground until the end of your next turn.</p>
------ Description (es) ------
<p>Tu ataque puede dejar en tierra a un enemigo aéreo.</p>
<p>Haz un Golpe. Si impacta e inflige daño a un objetivo volador, el objetivo cae hasta 120 pies. La caída es lo suficientemente gradual como para que si hace que el objetivo golpee el suelo, el objetivo no reciba daño por la caída.</p> <p><strong>Si tu ataque impacta y causa daño a un objetivo volador, el objetivo cae hasta 120 pies</strong>.
<p>Si el ataque es un golpe crítico, el objetivo no puede @UUID[Compendium.pf2e.actionspf2e.cS9nfDRGD83bNU1p]{Volar}, @UUID[Compendium.pf2e.actionspf2e.d5I6018Mci2SWokk]{Saltar}#, levitar ni abandonar el suelo de ninguna otra forma hasta el final de tu siguiente turno.</p> <p>Si el ataque es un golpe crítico, el objetivo no puede @UUID[Compendium.pf2e.actionspf2e.cS9nfDRGD83bNU1p]{Volar}, @UUID[Compendium.pf2e.actionspf2e.d5I6018Mci2SWokk]{{Saltar}, levitar ni abandonar el suelo de ninguna otra forma hasta el final de tu siguiente turno.</p> <p>
