Name: Symphony of the Unfettered Heart
Nombre: Symphony of the Unfettered Heart
Estado: modificada
Estado original: auto-trad

------ Data ------
Heightening9TargetEN: 4 creatures
Heightening9TargetES: 4 criaturas
RangeEN: 30 feet
RangeES: 30 pies
TargetEN: you or 1 ally
TargetES: tú o 1 aliado
TimeEN: 2
TimeES: 2
------ Description (en) ------
<p>Your symphony lifts listeners from their worldly concerns. Attempt a Performance check to counteract one of the following conditions affecting the target: @UUID[Compendium.pf2e.conditionitems.kWc1fhmv9LBiTuei]{Grabbed}, @UUID[Compendium.pf2e.conditionitems.eIcWbB5o3pP6OIMe]{Immobilized}, @UUID[Compendium.pf2e.conditionitems.6uEgoh53GbXuHpTF]{Paralyzed}, @UUID[Compendium.pf2e.conditionitems.VcDeM8A5oI6VqhbM]{Restrained}, @UUID[Compendium.pf2e.conditionitems.xYTAsEpcJE1Ccni3]{Slowed}, or @UUID[Compendium.pf2e.conditionitems.dfCMdR4wnpbYNTix]{Stunned}. If you fail, you can't target that effect on the target for 1 day. Use the condition's source to determine the counteract DC (for example, the @UUID[Compendium.pf2e.actionspf2e.SkZAQRkLLkmBQNB9]{Escape} DC for grabbed).</p>
<hr />
<p><strong>Heightened (9th)</strong> You can target up to four creatures.</p>
------ Description (es) ------
<p>Tu sinfonía eleva a los oyentes de sus preocupaciones mundanas. Intenta un chequeo de Interpretar para contrarrestar uno de los siguientes estados negativos (normalmente se abrevia a estado) que afectan al objetivo: @UUID[Compendium.pf2e.conditionitems.kWc1fhmv9LBiTuei]{Grabbed}, @UUID[Compendium.pf2e.conditionitems.eIcWbB5o3pP6OIMe]{Immobilized}, @UUID[Compendium.pf2e.conditionitems.6uEgoh53GbXuHpTF]{{Paralyzed}, @UUID[Compendium.pf2e.conditionitems.VcDeM8A5oI6VqhbM]{Restrained}, @UUID[Compendium.pf2e.conditionitems.xYTAsEpcJE1Ccni3]{Slowed}, o @UUID[Compendium.pf2e.conditionitems.dfCMdR4wnpbYNTix]{Stunned}. Si fallas, no puedes designar como objetivo ese efecto en el objetivo durante 1 día. Utiliza la fuente del estado para determinar la DC de contrarrestar (por ejemplo, la @UUID[Compendium.pf2e.actionspf2e.SkZAQRkLLkmBQNB9]{Huir}DC para agarrado).</p> <p>
<hr />
<p><strong>Heightened (9th)</strong> Puedes designar como objetivo hasta cuatro criaturas.</p> <p>
