Name: Bralani Referendum
Nombre: Referéndum Bralani
Estado: auto-trad

------ Data ------
DurationEN: 1 minute
DurationES: 1 minuto
RangeEN: 60 feet
RangeES: 60 pies
TimeEN: 2
TimeES: 2
------ Description (en) ------
<p>You enforce fair play with punishing zephyrs. When you Cast this Spell, choose one condition from among @UUID[Compendium.pf2e.conditionitems.i3OJZU2nk64Df3xm]{Clumsy}, @UUID[Compendium.pf2e.conditionitems.4D2KBtexWXa6oUMR]{Drained}, @UUID[Compendium.pf2e.conditionitems.MIRkyAjyBeXivMa7]{Enfeebled}, or @UUID[Compendium.pf2e.conditionitems.e1XGnhKNSQIm5IXg]{Stupefied}. When a creature in the area inflicts the chosen condition, they take 2d6 slashing damage with a basic Fortitude save. A creature can't take this damage more than once per round. You can Dismiss the spell.</p>
<hr />
<p><strong>Heightened (+2)</strong> Choose one more condition. The slashing damage when a creature inflicts any of the chosen conditions increases by 2d6.</p>
------ Description (es) ------
<p>Impones el juego limpio con céfiros castigadores. Cuando lanzas este Hechizo, elige un estado negativo de entre @UUID[Compendium.pf2e.conditionitems.i3OJZU2nk64Df3xm]{Torpe}, @UUID[Compendium.pf2e.conditionitems.4D2KBtexWXa6oUMR]{{Drenado}, @UUID[Compendium.pf2e.conditionitems.MIRkyAjyBeXivMa7]{Enfeebled}, o @UUID[Compendium.pf2e.conditionitems.e1XGnhKNSQIm5IXg]{Stupefied}. Cuando una criatura del área sufre el estado negativo elegido, recibe 2d6 puntos de daño cortante con una salvación básica de Fortaleza. Una criatura no puede recibir este daño más de una vez por asalto. Puedes Desestimar el hechizo.</p> <p>
<hr />
<p><strong>Aumentado (+2)</strong> Elige un estado negativo más. El daño cortante cuando una criatura inflige cualquiera de los estados negativos elegidos aumenta en 2d6.</p> <p>
