Name: Restoration
Nombre: Restablecimiento
Estado: auto-trad

------ Data ------
RangeEN: touch
RangeES: toque
TargetEN: 1 creature
TargetES: 1 criatura
TimeEN: 1 minute
TimeES: 1 minuto
------ Description (en) ------
<p>Restorative magic counters the effects of toxins or conditions that prevent a creature from functioning at its best. When you cast restoration, choose to either reduce a condition or lessen the effect of a toxin. A creature can benefit from only one restoration spell each day, and it can't benefit from restoration more than once to reduce the stage of the same exposure to a given toxin.</p>
<ul>
<li><strong>Lessen a Toxin</strong> Reduce the stage of one toxin the target suffers from by one stage. This can't reduce the stage below stage 1 or cure the affliction.</li>
<li><strong>Reduce a Condition</strong> Reduce the value of the target's @UUID[Compendium.pf2e.conditionitems.i3OJZU2nk64Df3xm]{Clumsy}, @UUID[Compendium.pf2e.conditionitems.MIRkyAjyBeXivMa7]{Enfeebled}, or @UUID[Compendium.pf2e.conditionitems.e1XGnhKNSQIm5IXg]{Stupefied} condition by 2. You can instead reduce two of the listed conditions by 1 each.</li>
</ul>
<hr />
<p><strong>Heightened (4th)</strong> Add @UUID[Compendium.pf2e.conditionitems.4D2KBtexWXa6oUMR]{Drained} to the list of conditions you can reduce. When you lessen a toxin, reduce the stage by two. You also gain a third option that allows you to reduce the target's @UUID[Compendium.pf2e.conditionitems.3uh1r86TzbQvosxv]{Doomed} value by 1. You can't use this to reduce a permanent Doomed condition.</p>
<p><strong>Heightened (6th)</strong> As the 4th-level restoration, but you can reduce a permanent Doomed condition if you add a spellcasting action and a material component while Casting the Spell, during which you provide 100 gp worth of diamond dust as a cost.</p>
------ Description (es) ------
<p>La magia de restablecimiento contrarresta los efectos de toxinas o estados negativos (normalmente se abrevia a estado) de una criatura. Cuando lanzas restablecimiento, elige reducir un estado negativo (normalmente se abrevia a estado) o disminuir el efecto de una toxina. Una criatura sólo puede beneficiarse de un hechizo de restablecimiento cada día, y no puede beneficiarse del restablecimiento más de una vez para reducir la etapa de la misma exposición a una toxina dada.</p> <p>La magia de restablecimiento contrarresta los efectos de las toxinas o condiciones que impiden que una criatura funcione lo mejor posible.
<ul>
<li><strong>Reducir una Toxina</strong> Reduce el estadio de una toxina que sufra el objetivo en un estadio. Esto no puede reducir la fase por debajo de la fase 1 ni curar la aflicción.</li> <li><strong>Reducir una toxina</strong>.
<li><strong>Reducir un estado</strong> Reduce el valor del @UUID[Compendium.pf2e.conditionitems.i3OJZU2nk64Df3xm]{Clumsy} del objetivo, @UUID[Compendium.pf2e.conditionitems.MIRkyAjyBeXivMa7]{Enfeebled}, o @UUID[Compendium.pf2e.conditionitems.e1XGnhKNSQIm5IXg]{{Stupefied}# estado negativo por 2. En su lugar, puedes reducir dos estados negativos (normalmente se abrevia a estado) en 1 cada uno.
</ul>
<hr />
<p><strong>Aumentado (4º)</strong> Añade @UUID[Compendium.pf2e.conditionitems.4D2KBtexWXa6oUMR]{Drenado} a la lista de estados negativos (normalmente se abrevia a estado). Cuando reduces una toxina, reduces la fase en dos. También obtienes una tercera opción que te permite reducir el valor @UUID[Compendium.pf2e.conditionitems.3uh1r86TzbQvosxv]{Doomed}### del objetivo en 1. No puedes usar esto para reducir un estado negativo (normalmente se abrevia a estado) permanente.</p> <p><strong>Elevado</strong>.
<p><strong>Restablecimiento condenado/a (6º)</strong> Como el restablecimiento de 4º nivel, pero puedes reducir un estado negativo/a permanente si añades una acción de lanzamiento de conjuros y un componente material mientras lanzas el conjuro, durante la cual proporcionas 100 gp de polvo de diamante como coste.</p> <p> <strong>Cómo reducir un estado negativo/a permanente si añades una acción de lanzamiento de conjuros y un componente material mientras lanzas el conjuro, durante la cual proporcionas 100 gp de polvo de diamante como coste.</p> <p> <strong>Cómo reducir un estado negativo/a permanente (normalmente se abrevia a estado).
