Parent Name: Franca Laurentz
Name: Splash Poison
Nombre: Salpicadura Veneno
Estado: auto-trad

------ Description (en) ------
<p>Franca uncorks and flings a dose of poison at a bleeding foe.</p>
<p>She retrieves a poison from her inventory, then splashes it at a creature within 10 feet that is currently taking @UUID[Compendium.pf2e.conditionitems.lDVqvLKA6eF3Df60]{Persistent Bleed Damage}.</p>
<p>The creature must succeed at a @Check[type:reflex|dc:32] save or be exposed to the poison.</p>
------ Description (es) ------
<p>Franca descorcha y lanza una dosis de veneno a un enemigo que sangra</p> <p>.
<p>Recoge un veneno de su inventario y lo arroja a una criatura en un radio de 3 metros que esté recibiendo @UUID[Compendium.pf2e.conditionitems.lDVqvLKA6eF3Df60]{{Daño persistente por sangrado}##.</p>
<p>La criatura debe tener éxito en una salvación @Check[type:reflex|dc:32]# o quedar expuesta al veneno.</p>
