Parent Name: Overdrive Imentesh
Name: Entropy Sense (Imprecise) 60 feet
Nombre: Sentido de Entropía (Impreciso) 60 pies
Estado: auto-trad

------ Description (en) ------
<p>An overdrive imentesh can anticipate the most likely location of a creature through their supernatural insight into the forces of chaotic probabilities and chance. This grants the overdrive imentesh the ability to sense creatures within the listed range.</p>
<p>The overdrive imentesh's entropy sense doesn't detect creatures under the effects of <em>@UUID[Compendium.pf2e.spells-srd.EoKBlgf6Smt8opaU]{Nondetection}</em> or that are otherwise shielded from divinations and predictions.</p>
------ Description (es) ------
<p>Un imentesh de sobremarcha puede anticipar la localización más probable de una criatura gracias a su visión sobrenatural de las fuerzas de las probabilidades caóticas y el azar. Esto otorga al imentesh de sobremarcha la capacidad de sentir criaturas dentro del rango de distancia indicado.
<p>El sentido de la entropía del imentesh de sobremarcha no detecta criaturas bajo los efectos de <em>@UUID[Compendium.pf2e.spells-srd.EoKBlgf6Smt8opaU]{Nondetection}</em> o que estén de otro modo escudadas contra adivinación y predicciones.</p> <p>El sentido de la entropía del imentesh de sobremarcha no detecta criaturas bajo los efectos de <em>@UUID[Compendium.pf2e.spells-srd.EoKBlgf6Smt8opaU]{{Nondetection}</em> </em>.
