Parent Name: Vampire Mastermind
Name: Drink Blood
Nombre: Beber Sangre
Estado: auto-trad

------ Description (en) ------
<p><strong>Requirements</strong> A @UUID[Compendium.pf2e.conditionitems.kWc1fhmv9LBiTuei]{Grabbed}, @UUID[Compendium.pf2e.conditionitems.6uEgoh53GbXuHpTF]{Paralyzed}, @UUID[Compendium.pf2e.conditionitems.VcDeM8A5oI6VqhbM]{Restrained}, @UUID[Compendium.pf2e.conditionitems.fBnFDH2MTzgFijKf]{Unconscious}, or willing creature is within the vampire's reach.</p>
<hr />
<p><strong>Effect</strong> The vampire sinks its fangs into that creature to drink its blood. This requires an Athletics check against the victim's Fortitude DC if the victim is grabbed and is automatic for any of the other conditions.</p>
<p>The victim is @UUID[Compendium.pf2e.conditionitems.4D2KBtexWXa6oUMR]{Drained 2} and the vampire regains [[/r 10[healing]]]{10 Hit Points}, gaining any excess HP as temporary Hit Points. Drinking Blood from a creature that's already drained doesn't restore any HP to the vampire but increases the victim's drain value by 1. A vampire can also consume blood that's been emptied into a vessel for sustenance, but it gains no HP from doing so.</p>
<p>A victim's drained condition decreases by 1 per week. A blood transfusion, which requires a @Check[type:medicine|dc:20|name:Blood Transfusion] check and sufficient blood or a blood donor, reduces the drain by 1 after 10 minutes.</p>
------ Description (es) ------
<p><strong>Requisitos</strong> A @UUID[Compendium.pf2e.conditionitems.kWc1fhmv9LBiTuei]{Grabbed}, @UUID[Compendium.pf2e.conditionitems.6uEgoh53GbXuHpTF]{{Paralyzed}, @UUID[Compendium.pf2e.conditionitems.VcDeM8A5oI6VqhbM]{Restrained}, @UUID[Compendium.pf2e.conditionitems.fBnFDH2MTzgFijKf]{Unconscious}, o una criatura dispuesta está al alcance del vampiro.</p>
<hr />
<p><strong>Efecto</strong> El vampiro hunde sus colmillos en esa criatura para beber su sangre. Esto requiere un chequeo de Atletismo contra la DC de Fortaleza de la víctima si la víctima es agarrada y es automático para cualquiera de los otros estados negativos.</p> <p><strong>Estado negativo</strong> (normalmente se abrevia a estado).
<p>La víctima queda @UUID[Compendium.pf2e.conditionitems.4D2KBtexWXa6oUMR]{Drenada 2}## y el vampiro recupera [[/r 10[curación]]]{10 Puntos de Golpe}, ganando cualquier HP sobrante como Puntos de Golpe temporales. Beber Sangre de una criatura que ya está drenada no restaura ningún PS al vampiro, pero incrementa el valor de drenaje de la víctima en 1. Un vampiro también puede consumir sangre que ha sido vaciada en un recipiente para su sustento, pero no gana PS al hacerlo.</p> <p>
<p>El estado negativo de la víctima (normalmente se abrevia a estado) disminuye en 1 por semana. Una transfusión de sangre, que requiere un chequeo @Check[type:medicine|dc:20|name:Blood Transfusion]## y sangre suficiente o un donante de sangre, reduce el drenado/a en 1 tras 10 minutos.</p> <p>
