Name: (Vampire, Vetalarana, Manipulator) Drain Thoughts
Nombre: (Vampiro, Vetalarana, Manipulador) Drenar Pensamientos
Estado: auto-trad

------ Description (en) ------
<p><strong>Requirements</strong> A @UUID[Compendium.pf2e.conditionitems.kWc1fhmv9LBiTuei]{Grabbed}, @UUID[Compendium.pf2e.conditionitems.6uEgoh53GbXuHpTF]{Paralyzed}, @UUID[Compendium.pf2e.conditionitems.VcDeM8A5oI6VqhbM]{Restrained}, @UUID[Compendium.pf2e.conditionitems.fBnFDH2MTzgFijKf]{Unconscious}, or willing creature is within the vetalarana's reach</p>
<hr />
<p><strong>Effect</strong> The vetalarana seizes a creature and consumes its memories. This requires an Athletics check against the victim's Fortitude DC if the victim is grabbed and is automatic for any of the other conditions. The victim is @UUID[Compendium.pf2e.conditionitems.e1XGnhKNSQIm5IXg]{Stupefied 1} {@UUID[Compendium.pf2e.conditionitems.e1XGnhKNSQIm5IXg]{Stupefied 2} on a critical success), and the vetalarana regains HP equal to 10% of the vetalarana's maximum HP, gaining any excess as temporary Hit Points. Draining Thoughts from a creature that is already stupefied doesn't restore any HP to the vetalarana but increases the victim's stupefied value by 1. Additionally, the vetalarana views one of the victim's memories. The vetalarana manipulator can choose to alter, enhance, or erase the memory they view as a 4th-level <em>@UUID[Compendium.pf2e.spells-srd.FhOaQDTSnsY7tiam]{Modify Memory}</em> spell.</p>
<p>A victim's stupefied condition value decreases by 1 every week.</p>
<p>A victim that becomes stupefied 5 in this way is rendered comatose, becoming permanently @UUID[Compendium.pf2e.conditionitems.fBnFDH2MTzgFijKf]{Unconscious}. As long as the vetalarana lives, a comatose victim can't regain consciousness, and its stupefied condition doesn't decrease.</p>
------ Description (es) ------
<p><strong>Requisitos</strong> A @UUID[Compendium.pf2e.conditionitems.kWc1fhmv9LBiTuei]{Grabbed}, @UUID[Compendium.pf2e.conditionitems.6uEgoh53GbXuHpTF]{{Paralyzed}, @UUID[Compendium.pf2e.conditionitems.VcDeM8A5oI6VqhbM]{Restrained}, @UUID[Compendium.pf2e.conditionitems.fBnFDH2MTzgFijKf]{Unconscious}, o una criatura voluntaria está dentro del alcance de la vetalarana</p>
<hr />
<p><strong>Efecto</strong> La vetalarana se apodera de una criatura y consume sus recuerdos. Esto requiere un chequeo de Atletismo contra la DC de Fortaleza de la víctima si la víctima es agarrada y es automático para cualquiera de los otros estados negativos. La víctima queda @UUID[Compendium.pf2e.conditionitems.e1XGnhKNSQIm5IXg]{Estupefacta 1} {@UUID[Compendium.pf2e.conditionitems.e1XGnhKNSQIm5IXg]{Estupefacta 2}# con un éxito crítico), y la vetalarana recupera PV igual al 10% de sus PV máximos, ganando el exceso como Puntos de Golpe temporales. Drenar los Pensamientos de una criatura que ya está anonadada no restaura los PS de la vetalarana, pero aumenta el valor de anonadamiento de la víctima en 1. Además, la vetalarana ve uno de los recuerdos de la víctima. El manipulador vetalarana puede elegir alterar, mejorar o borrar el recuerdo que ve como un hechizo de 4º nivel <em>@UUID[Compendium.pf2e.spells-srd.FhOaQDTSnsY7tiam]{Modificar recuerdo}</em>.</p> <p>
<p>El valor del estado negativo (normalmente se abrevia a estado) de una víctima anonadada disminuye en 1 cada semana.</p> <p><em>Valor del estado negativo (normalmente se abrevia a estado)</em> </em>Valor del estado negativo (normalmente se abrevia a estado) de una víctima anonadada disminuye en 1 cada semana.
<p>Una víctima que queda anonadada 5 de este modo queda en coma, convirtiéndose permanentemente en @UUID[Compendium.pf2e.conditionitems.fBnFDH2MTzgFijKf]{Inconsciente}. Mientras la vetalarana viva, una víctima en coma no puede recuperar la conciencia, y su estado negativo (normalmente se abrevia a estado) no disminuye.
